html {
    background: radial-gradient(circle, black 40%, rgb(255, 70, 0));
    font-family: impact;
    color: rgb(255, 70, 0);
}

#color {
    animation-name: colorchg;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes colorchg {
    0% {color: rgb(255,100,0); }
    50% {color: white; }
    100% {color: rgb(255,100,0); }
}

h1:hover {
    transform: scale(2,2);
}

.align {
    text-align: center;
}

img {
    margin-top: 5px;
    margin-bottom: 25px;
}

#margin {
    margin-bottom: 50px;
}
button:hover {
    transform: scale(2,2);
}